.Signup {


  margin-left: 600px;
  margin-top: 50px;
  border: 1px solid black;
  width: 400px;
  height: 440px;
  border-radius: 5%;
}

#form {

  padding-left: 40px;
}


.Login {

  margin-left: 600px;
  margin-top: 50px;
  border: 1px solid black;
  width: 380px;
  height: 380px;
  border-radius: 5%;


}


.Edit {


  margin-left: 600px;
  margin-top: 50px;
  border: 1px solid black;
  width: 380px;
  height: 400px;
  border-radius: 5%;


}

.Dashboard {

  padding-top: 50px;
}





.table-fixed {
  table-layout: fixed;
  width: 100%;
  /* Set the table width */
}

.table-fixed td {
  width: 25%;
  /* Divide the table equally into four columns */
}